{% extends "../main/base.html" %}
{% block title %}Message{% endblock %}
{% block content %}
<div class="span-9 prepend-1">
<form method="POST" action=".">
<fieldset>
<legend>Edit</legend>
<p>
	<label for="id_value">Value:</label><br/>
	<input type="text" class="text" name="value" id="id_value" value="{{ data.value }}" />
{% if errors %}<div class="error">{% for error in errors %}
{{error}}
{% endfor %} </div>{% endif %}
</p>
<p>
	<input type="image" src="/styles/tango/16x16/actions/document-save.png" title="save" value="submit" width="16" height="16" alt="Save"/> <a href="/message/">back</a>
</p>
</fieldset>
</form>
</div>
{% endblock %}
