{% extends "../main/base.html" %}
{% block title %}Messages{% endblock %}
{% block head %}
<meta name="description" content="List and edit messages" />
{% endblock %}
{% block content %}
<div class="span-9 prepend-1">
<table>
	<col align="left" />
	<col align="right" width="70px" />
	<thead>
	<tr><th>Messages</th><th>Commands</th></tr></thead>
	<tbody>
	{% for message in messages %}
	<tr>
		<td>{{ message.value|escape }}</td>
		<td><a href="/message/edit/{{ message.id }}/" title="edit"><img src="/styles/tango/16x16/actions/document-open.png" width="16" height="16" alt="Open"></a> 
			<a href="/message/confirmdelete/{{ message.id }}/" title="delete"><img src="/styles/tango/16x16/actions/edit-delete.png" width="16" height="16" alt="Delete"></a></td>
	</tr>
	{% endfor %}
	</tbody>
</table>

<a href="/message/create/" title="create new"><img src="/styles/tango/16x16/actions/document-new.png" width="16" height="16" alt="Document New"></a>
</div>
{% endblock %}