{% extends "views/main/base.html" %}
{% block title %}{{ data.value|escape }}{% endblock %}
{% block head %}
<meta name="description" content="Display information about {{ data.value|escape }}. Including twitter." />
<script src="/scripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
	console.log($("#value").text());
	var trimmedValue = $.trim($("#value").text());
	$.ajax({
		url: "http://search.twitter.com/search.json",
		data: {q: trimmedValue, lang:"en"},
		dataType: 'jsonp',
		success: function (o) {
			$.each(o.results,function(){
				$("#twitter").append("<div><img src='"+this.profile_image_url+"'/> "+
					"<h3 style='display:inline;'><a href='http://twitter.com/"+this.from_user+"/'>"+this.from_user+"</a></h3>"+
					"<p>"+this.text+"</p>"+
					""+this.created_at+"</div>");
			});
		}
	});
});
</script>
<style type="text/css" media="screen">
	#image{display:block;}
	#writer ul{list-style-type:none;}
</style>
{% endblock %}
{% block content %}
<div class="span-9 prepend-1">
<fieldset>
<p>
	<label for="value">Value:</label><br/>
	<span id="value">{{ data.value|escape }}</span>
</p>
<p>
	<label for="image">Image:</label><br/>
	<img id="image" src="http://smileynoise.herokuapp.com/image/view?smiley={{ urlid }}" alt="{{ data.value|escape }}"/>
</p>
<p>
	<label for="writer">Author(s):</label><br/>
	<div id="writer"><ul>{% for writer in data.writers %}<li>{{ writer|escape }}</li>{% endfor %}</ul></div>
</p>
</fieldset>
<iframe src="http://www.facebook.com/plugins/like.php?href={{ url }}&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:100px"></iframe>

</div>
<div class="span-9 prepend-1">
	<h2>Twitter</h2>
	<div id="twitter"></div>
</div>

<hr/>

{% endblock %}
