{% extends "base.html" %}
{% block title %}Smileynoise{% endblock %}
{% block head %}
<meta name="description" content="Messages using only smileys" />
<meta name="keywords" content="Message, Smiley" />
<script src="/scripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="../../scripts/jquery.twit.0.2.0/jquery.twit.0.2.0.css" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/scripts/jquery.twit.0.2.0/jquery.twit.0.2.0.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
	$('#twitter').twit("smileynoise");
});
</script>
<style>
.twit {
 background-color: #C3D9FF;
}
</style>
{% endblock %}
{% block content %}
<div class="span-9 prepend-1">
<table><thead>
	<tr><th>Messages <a href="/message/create/" title="create new"><img src="/styles/tango/16x16/actions/document-new.png" width="16" height="16" alt="Document New"></a>
</th><th>Author</th></tr></thead>
	<tbody>
	{% for message in messages %}
	<tr>
		<td><a href="/view/{{message.urlid|escape}}">{{ message.value|escape }}</a></td>
		<td>{{ message.writer|escape }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<p>
<a href="/message/">Edit Messages</a>
</p>
</div>
<div class="span-9 prepend-1">
	<div id="twitter"></div>
</div>
<hr/>
{% endblock %}