{% extends "base.html" %}
{% block title %}Smileynoise{% endblock %}
{% block head %}
<meta name="description" content="Messages using only smileys" />
<meta name="keywords" content="Message, Smiley" />
{% endblock %}
{% block content %}
<div class="span-9 prepend-1">
<table><thead>
	<tr><th>Messages</th><th>Author</th></tr></thead>
	<tbody>
	{% for message in messages %}
	<tr>
		<td>{{ message.value|escape }}</td>
		<td>{{ message.writer|escape }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<p>
<a href="/message/">Edit Messages</a>
</p>
</div>
<hr/>
<div class="span-9 prepend-1"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsmileynoise.appspot.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:450px; height:50px"></iframe></div>
{% endblock %}